name: Deploy to WordPress.org
on:
  [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: php-actions/composer@v1
      with:
        command: install --prefer-dist
  tag:
    name: New tag
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: WordPress Plugin Deploy
        uses: 10up/action-wordpress-plugin-deploy@master
        env:
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
          SLUG: wpcasa-ninja-forms
